## Gpt_Tabular

### * Using SQL to understand the data

In [1]:
import sqlite3
import pandas as pd
# import numpy as np
import openai

In [2]:
openai.api_key = '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'

In [37]:
conn = sqlite3.connect("chatgpt.db")
cursor = conn.cursor()

In [4]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS site_data(
        Name TEXT,
        Net_Profit_Quarter FLOAT,
        Sales_Quarter FLOAT,
        Profit_Growth_3_Years FLOAT,
        Profit_Growth_5_Years FLOAT,
        Sales_Growth_5_Years FLOAT,
        Sales_Growth_3_Years FLOAT
    )
""")


conn.commit()
# conn.close()

In [5]:
df = pd.read_excel(r"Company data.xlsx")
conn = sqlite3.connect('chatgpt.db')
df.to_sql('site_data',conn,if_exists='replace',index=False)
# conn.close()

7

In [6]:
def get_table_columns(table_name):
  cursor.execute("PRAGMA table_info({})".format(table_name))
  columns = cursor.fetchall()
  print(columns)
  return [column[1] for column in columns]

In [27]:
list(df.Name)

['Astral',
 'Prince Pipes',
 'Mold-Tek Pack.',
 'Supreme Inds.',
 'Finolex Inds.',
 'Nilkamal Ltd',
 'Responsive Ind']

In [28]:
def generate_sql_query(table_name,text,columns,company_name):
  prompt = """ you are a ChatGPT Language Model that can generate SQL Queries. \
                please provice a natural language input text and i will generate the corresponding \
                SQL query for you.Keep in mind that the company_name {}  may be provided in different variations,\
                such as lowercase, uppercase, or with additional characters. Example: Consider 'astral' as 'Astral'.Your query should be able to handle\
                these variations accurately. Table Name is {} and corresponding columns are {}. \
                Input:{}\nSQL Query:
                
                """.format(company_name,table_name,columns,text)\
                  
                
                    
  print(prompt)
  request = openai.ChatCompletion.create(
  model="gpt-3.5-turbo-0301",
  messages =[{"role":"system","content":"You are a ChatGPT Language Model that can generate SQL Queries"},
            {"role":"user","content":prompt}]

  )
  sql_query = request['choices'][0]['message']['content']
  return sql_query

In [48]:
def generate_sql_query(table_name,text,columns):
  prompt = """ you are a ChatGPT Language Model that can generate SQL Queries.
                please provice a natural language input text and i will generate the corresponding
                SQL query for you. the Table Name is {} and corresponding columns are {}. 
                Input:{}\nSQL Query:""".format(table_name,columns,text)
  print(prompt)
  request = openai.ChatCompletion.create(
  model="gpt-3.5-turbo-0301",
  messages =[{"role":"system","content":"You are a ChatGPT Language Model that can generate SQL Queries"},
            {"role":"user","content":prompt}]

  )
  sql_query = request['choices'][0]['message']['content']
  return sql_query

In [8]:
def execute_sql_query(query):
  cursor.execute(query)
  result = cursor.fetchall()
  conn.commit()
  return result

## problem here is case sensitive text

In [38]:
text = 'give me sum of net profit of Supreme and astral '
table_name = 'site_data'
columns = get_table_columns(table_name)
sql_query = generate_sql_query(table_name,text,columns,list(df.Name))
print("Generated SQL Query: ",sql_query)

if sql_query:
  result = execute_sql_query(sql_query)
  print("ChatGPT Response => ",result)

cursor.close()
conn.close()

[(0, 'Name', 'TEXT', 0, None, 0), (1, 'Net_Profit_Quarter', 'REAL', 0, None, 0), (2, 'Sales_Quarter', 'REAL', 0, None, 0), (3, 'Profit_Growth_3_Years', 'REAL', 0, None, 0), (4, 'Profit_Growth_5_Years', 'REAL', 0, None, 0), (5, 'Sales_Growth_5_Years', 'REAL', 0, None, 0), (6, 'Sales_Growth_3_Years', 'REAL', 0, None, 0)]
 you are a ChatGPT Language Model that can generate SQL Queries.                 please provice a natural language input text and i will generate the corresponding                 SQL query for you.Keep in mind that the company_name ['Astral', 'Prince Pipes', 'Mold-Tek Pack.', 'Supreme Inds.', 'Finolex Inds.', 'Nilkamal Ltd', 'Responsive Ind']  may be provided in different variations,                such as lowercase, uppercase, or with additional characters. Example: Consider 'astral' as 'Astral'.Your query should be able to handle                these variations accurately. Table Name is site_data and corresponding columns are ['Name', 'Net_Profit_Quarter', 'Sales_Quarter', 'Profit_Growth_3_Years', 'Profit_Growth_5_Years', 'Sales_Growth_5_Years', 'Sales_Growth_3_Years'].                 Input:give me sum of net profit of Supreme and astral
SQL Query:


Generated SQL Query:  SELECT SUM(Net_Profit_Quarter) AS Net_Profit_Sum
                FROM site_data
                WHERE UPPER(Name) IN ('SUPREME INDS.', 'ASTRAL')
ChatGPT Response =>  [(565.63,)]